# {{ .Name }}

Looks up a data protection policy using filters.

## Example Usage

```hcl
data "ocp_customer" "example" {
  name = "customer-a"
}

data "ocp_project" "example" {
  name        = "project-a"
  customer_id = data.ocp_customer.example.id
}

data "ocp_data_protection_policy" "example" {
  customer_id = data.ocp_customer.example.id
  project_id  = data.ocp_project.example.id
  note        = "daily"
}
```
{{ .SchemaMarkdown | trimspace }}
